* {
  /*reset CSS*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /*primary colors*/

  /*blue chill*/
  --blue: #49a29a;
  /*Astral*/
  --blue-light: #336680;
  /*Nordic*/
  --green: #0c343c;
  /*Jungle Mist*/
  --hover: #abc6c7;

  /*secondary colors*/

  /*black*/
  --headline: #22262a;
  /*Matterhorn*/
  --paragraph: #545454;

  --white: #ffffff;
}

/*fonts*/
/*converter tudo pra rem*/
body {
  color: var(--paragraph);
  font-family: 'Fira Code', monospace;
}

div.m-contato-rapido h4,
div.m-navegacao a {
  font-weight: 400;
  margin: 10px 0;
  color: var(--green);
}

div.m-navegacao a {
  margin: 0;
  padding: 20px;
  color: var(--paragraph);
}

div.banner-texto h1.banner-texto-titulo {
  margin-bottom: 20px;

  color: var(--white);
  font-size: 46px;
  line-height: 54px;
  font-weight: 600;
}

div.banner-texto h2.banner-texto-subtitulo {
  display: block;
  margin-bottom: 40px;
  opacity: 0.7;

  color: var(--white);
  font-size: 30px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}

button.banner-texto-botao a.botao-texto {
  color: var(--green);
  font-size: 28px;
  line-height: 20px;
}

div.agendar-wrapper h3.agendar-title {
  color: var(--white);
  font-size: 36px;
  line-height: 40px;
}

div.agendar-wrapper a.agendar-button {
  font-size: 26px;
  color: var(--green);
  font-weight: 400;
}

section#inicio div.inicio-texto h3 {
  color: var(--green);
  font-size: 28px;

  margin-block: 20px;
}

section#exames div.exames-titulo h2 {
  color: var(--green);
  font-size: 36px;

  text-transform: uppercase;
}

/*Primeiro Menu*/
div.m-contato-rapido-wrapper {
  border-bottom: 1px solid;
  border-color: #1f7c92;
}
div.m-contato-rapido {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 10px 0 10px 0;
  margin: 0 10px 0 10px;

  background-color: var(--white);
}

a.contato-rapido-whatsapp-link {
  margin-right: 20px;
}

div.contato-rapido-whatsapp svg,
div.contato-rapido-ligar svg {
  width: 25px;
  height: 25px;
  margin: 10px 5px 10px 0;

  fill: var(--green);
}

a.contato-rapido-whatsapp-link,
a.contato-rapido-ligar-link {
  display: flex;
  flex-direction: row;
}

div.convenio-container div.subtitle-wrapper h4 {
  font-family: 'Fira Code', monospace;
  font-size: 26px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 34px;
  color: var(--white);
}

section#convenio div.convenio-container p {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
  color: var(--white);
}

section#convenio div.convenio-container a p {
  background-color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  color: var(--green);
}

/*Segundo Menu*/
div.m-navegacao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 25px 20px;
}

.navegacao-sessoes {
  display: flex;
}

@media screen and (max-width: 1090px) {
  .navegacao-sessoes {
    display: none;
  }

  div.m-navegacao {
    justify-content: center;
  }
}

/*Banner*/

div.banner {
  background-image: url(/assets/IMAGENS/opção1-original.png);

  background-size: cover, cover;
  background-attachment: fixed, fixed;
  background-position: 50% 50%, 50% 50%;
  background-repeat: repeat, no-repeat;

  display: flex;
  width: auto;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 60px;
  align-items: center;
}

div.banner-texto {
  margin: 0 0 0 80px;

  display: flex;
  flex-flow: column wrap;
  flex-shrink: 1;
}

button.banner-texto-botao {
  width: 300px;
  height: 50px;
  padding: 15px 20px;

  background-color: var(--white);
  border: 0px;
  border-radius: 5px;
}

/*global*/

header,
main {
  display: flex;
  flex-flow: column;
  flex-shrink: 1;
}

/*call to action*/

main article.agendar {
  max-width: 90%;
  width: 100%;
  height: 120px;

  margin: 0 auto 100px auto;

  display: flex;
  justify-content: center;
}

article.agendar div.agendar-wrapper {
  padding: 30px 140px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  gap: 40px;

  background-image: linear-gradient(330deg, #197388 21%, #1f849c 67%, #0d9dbb);
}

div.agendar-wrapper a.agendar-button {
  display: block;

  padding: 10px 40px;
  background-color: var(--white);
  border-radius: 5px;
}

@media screen and (max-width: 1090px) {
  main article.agendar {
    height: 270px;
    align-items: center;
    text-align: center;
  }
  article.agendar div.agendar-wrapper {
    flex-direction: column;
    padding: 40px;
    gap: 10px;
  }
}

/*Inicio*/

main section#inicio {
  display: flex;
  flex-flow: row wrap-reverse;
  align-items: center;
  justify-content: center;

  margin-bottom: 60px;
}

section#inicio div.inicio-texto {
  max-width: 450px;

  padding: 20px;
  margin-right: 20px;
}

section#inicio img {
  border-radius: 15px;
  max-width: 90%;
}

/*EXAMES*/

section#exames {
  display: flex;
  flex-flow: column wrap;

  justify-content: space-evenly;
  align-items: center;
}

section#exames div.exames-titulo-wrapper {
  width: 100%;
  max-width: 2200px;
  height: 60px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 15px;
}

div.exames-titulo-wrapper div.exames-titulo {
  display: flex;
  align-items: center;
}

div.exames-titulo-wrapper .reta {
  height: 5px;
  width: 40%;
  background-color: var(--green);
}
section#exames div.exames-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 60px;
  margin-block: 40px 20px;
  padding-inline: 60px;
}

section#exames div.exames-card img {
  box-shadow: 1px 2px 6px 0 var(--hover);
}

section#exames footer.agendar {
  width: 100%;
  margin-bottom: 60px;
}

footer.agendar div.agendar-wrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 140px;

  gap: 40px;

  background-color: rgb(31, 124, 146);
  background-image: linear-gradient(
      6deg,
      rgba(25, 115, 136, 0.22) 21%,
      rgba(31, 133, 156, 0.94) 67%,
      rgba(13, 157, 187, 0.33)
    ),
    url(../IMAGENS/opção1-original.png);
    background-size: auto, cover;
    background-attachment: scroll, fixed;
    background-position: 0px 0px, 50% 50%;j
}

/*Convênios*/

section#convenio {
  margin-bottom: 60px;
}


/*fazer uma media querie*/
section#convenio div.convenio-container {
  width: 940px;
  max-width: 80%;
  margin: auto;
  border-radius: 10px;
  padding: 40px 60px;

  background-color: var(--blue);
  background-image: linear-gradient(3deg, #1f7c92, #1e8097 50%, #0991ad 96%);
   
  /*refazer*/
  /*background-image: linear-gradient(3deg, var(--blue-light), var(--blue-light) 50%, var(--blue-light) 96%);*/

  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;
  gap: 20px;
}

div.convenio-container div.convenio-title-container {
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  
  justify-content: center;
  align-items: center;
}

div.convenio-title-container div.bar-wrapper {
  display: flex;
  width: 20%;

  justify-content: center;
  align-items: center;

}

div.bar-wrapper div.bar {
  height: 1px;
  width: 100%;
  background-color: var(--white);
}

div.convenio-title-container div.title-wrapper {
  width: 60%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


div.convenio-title-container h3 {
  font-family: 'Fira Code', monospace;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 44px;
  color: var(--white);

}

div.convenio-container div.subtitle-wrapper {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*CONTATO*/

address#contato {
  padding-inline: 5%;
  background-color: var(--hover);

  display: flex;
  flex-flow: column nowrap;

  margin-bottom: 20px;
  margin
}

address#contato div.contato-wrapper {
  padding-block: 20px;
  
  display: flex;
  flex-direction: row wrap;
  align-items: flex-start;

  justify-content: space-around;
}

div.contato-wrapper iframe,
div.contato-wrapper img
 {
  border-radius: 10px;
}

address#contato div.endereco-wrapper {
  display: flex;
  flex-flow: column wrap;

  gap: 10px;

}

div.endereco-wrapper p {
  color: var(--green);
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 1px;
}

div.fone a {
  font-weight: 400;
  color: var(--green);

}

contato-rapido-whatsapp {
  display: flex;
  flex-flow: row ;
}